.show-grid .span {
  background-color: #d3d3d3;
}
body {
  background: url('../img/bg.jpg') #000000 top center fixed no-repeat;
  font-family: 'Open Sans', sans-serif;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #211922;
}
h1 {
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  line-height: 55px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}
h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
}
.center {
  float: none;
  margin: 0 auto;
}
.container {
  max-width: 940px;
}
.main-container,
.container {
  position: relative;
}
.flat-btn {
  background-color: #1c1c1c;
  opacity: 0.75;
  border: none;
  color: #ffffff;
  padding: 11px 19px 11px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 18px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.flat-btn:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}
.btn-custom {
  background-color: #8CC248 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99d34f", endColorstr="#8cc248");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#99d34f), to(#8cc248));
  background-image: -moz-linear-gradient(top, #99d34f, #8cc248);
  background-image: -ms-linear-gradient(top, #99d34f, #8cc248);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9ff0a), color-stop(100%, #8cc248));
  background-image: -webkit-linear-gradient(top, #99d34f, #8cc248);
  background-image: -o-linear-gradient(top, #99d34f, #8cc248);
  background-image: linear-gradient(#99d34f, #8cc248);
  border-color: #8cc248 #8cc248 #648e2f;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ul.points {
  margin: 0px;
  list-style: none;
}
ul.points li {
  margin-bottom: 30px;
  padding-left: 55px;
  position: relative;
}
ul.points li > i {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 32px;
  color: #7B7B7B;
  text-align: right;
}
ul.points li > h6 {
  font-size: 15px;
  margin-bottom: 3px;
}
ul.points li > span {
  font-size: 15px;
  font-weight: 400;
}
ul.points li.action {
  padding: 10px 0 0px 55px;
}
.section {
  background: #fff;
  font-weight: normal;
}
.section h2 {
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.section .content {
  width: 360px;
}
.section .container {
  min-height: 450px;
  border-bottom: 1px dotted #DBDBDB;
}
.section.left .content {
  width: 380px;
}
.section.left .image {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 650px;
  height: 450px;
}
.section.right .content {
  width: 380px;
  position: absolute;
  right: 0px;
  top: 40px;
}
.section.right .image {
  top: 10px;
  width: 650px;
  height: 450px;
}
.navbar-inner {
  border-bottom: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  filter: none;
  background: transparent;
  background-color: none;
}
.navbar-inner .container {
  padding-top: 10px;
}
.navbar-static-top .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar .nav li > a {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-shadow: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
.navbar .nav li > a.login {
  padding-right: 0px;
}
.navbar .nav li > a.scroller {
  padding-top: 20px;
  padding-bottom: 2px;
}
.navbar .nav li > a > button {
  margin-top: 0px;
}
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  text-decoration: underline;
  color: white;
}
/*
  =====
  INTRO
  =====
*/
#intro {
  margin-top: 50px;
  margin-bottom: 70px;
}
#intro .brand {
  width: 221px;
  height: 57px;
}
#intro .info {
  width: 410px;
}
#intro .info .actions .flat-btn {
  margin-right: 15px;
}
#intro .video {
  width: 490px;
  height: 275px;
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#intro .video iframe {
  background-color: #1c1c1c;
  width: 490px;
  height: 275px;
}
#intro h2 {
  color: #fff;
  margin-top: 15px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  line-height: 110%;
  margin-bottom: 10px;
}
#intro p {
  padding: 15px 0;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 15px;
}
/*
  =====
  PROOF
  =====
*/
#proof {
  background-color: #F7F5F2;
  -webkit-box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #DBDBDB;
  text-align: center;
  overflow: hidden;
  height: 55px;
}
#proof img {
  margin-right: 22px;
  padding-top: 4px;
}
/*
  =====
  ABOUT
  =====
*/
#about .container {
  padding: 20px 0;
}
#about .content {
  padding-top: 20px;
}
#about .image {
  right: -115px;
}
/*
  ======
  SECURE
  ======
*/
#secure .image {
  margin-left: -95px;
}
/*
  ===========
  TESTIMONIAL
  ===========
*/
#testimonial {
  background-color: #fff;
}
#testimonial .container {
  min-height: 480px;
  border-bottom: none;
}
#testimonial .content {
  width: 380px;
  padding-top: 20px;
}
#testimonial .image {
  left: 390px;
  bottom: 0px;
  top: auto;
}
#testimonial .content-testimonial img {
  margin: 0 auto 10px auto;
  display: block;
  width: 200px;
  height: 200px;
}
#testimonial .content-testimonial blockquote {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
#testimonial .content-testimonial blockquote small {
  padding-top: 5px;
}
#testimonial .carousel-control {
  line-height: 27px;
  top: 90px;
}
/*
  ======
  FOOTER
  ======
*/
.footer {
  background-color: #F7F5F2;
  border-top: 1px dotted #DBDBDB;
  color: #7B7B7B;
  padding: 20px 0 20px 0;
}
.footer .company {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.footer .links {
  text-align: right;
}
.footer .links a {
  margin-left: 10px;
}
/*
  ==========
  RESPONSIVE
  ==========
*/
@media (max-width: 1200px) {
  
}
@media (max-width: 979px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  #intro .video {
    width: 400px;
    height: 224px;
  }
  #intro .video iframe {
    width: 400px;
    height: 224px;
  }
  #intro h2 {
    font-size: 21px;
  }
  #intro .info {
    width: 290px;
  }
  #about .image {
    right: -330px;
  }
  #secure .image {
    margin-left: -270px;
  }
}
@media (max-width: 767px) {
  .container {
    margin-right: 10px;
    margin-left: 10px;
  }
  .navbar .nav > li > a.scroller {
    display: none;
  }
  ul.points li.action {
    text-align: center;
    padding-left: 0px;
  }
  .footer .links {
    text-align: left;
  }
  #intro {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  #intro .info {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  #intro h2 {
    text-align: center;
    width: 300px;
    display: block;
    font-size: 20px;
  }
  #intro .brand {
    margin-left: auto;
    margin-right: auto;
  }
  #intro .video {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 158px;
  }
  #intro .video iframe {
    width: 280px;
    height: 158px;
  }
  #intro iframe {
    width: 280px;
    height: 158px;
  }
  #proof {
    display: none;
  }
  #about {
    padding: 0px;
  }
  #about.section .content {
    width: 100%;
    padding: 0px;
  }
  #about .image {
    display: none;
  }
  #about .container {
    padding: 10px 0;
    min-height: 0px;
  }
  #secure .container {
    padding: 10px 0;
    min-height: 0px;
  }
  #secure .content {
    width: 100%;
    position: relative;
    top: 0px;
  }
  #secure .image {
    display: none;
  }
  #testimonial .container {
    padding: 10px 0;
    min-height: 0px;
  }
  #testimonial .content {
    padding: 0px;
    float: none;
    width: 100%;
  }
  #testimonial .image {
    display: none;
  }
}
@media (max-width: 480px) {
  
}
