.show-grid .span {
    background-color: #d3d3d3;
}

/* Setup Styles  */

body {
	/* Change the background image here  */
	background: url('../img/bg.jpg') #000 top center fixed no-repeat;
	font-family:'Open Sans',sans-serif;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #211922;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-weight:300;
	font-size:50px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

.dark {
	color:#000;
}

.light {
	color:#fff;
}

.center {
	float:none;
	margin:0 auto;
}

.centertext {
	text-align:center;
}

/* Main Container Styles  */

.main-container {
	position:relative;
}

/* Section Styles  */

#intro {
	margin-top:50px;
    margin-bottom:70px;
}

#intro .brand {
    width: 221px;
    height: 57px;
}


#intro .info {
    width: 410px;
}

#intro .info .actions .flat-btn {
    margin-right: 15px;
}

#intro .video {
    width: 580px;
    height: 325px;
    padding:10px 10px 10px 10px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#intro .video iframe {
    background-color: #1c1c1c;
}

#intro h2 {
    color:#fff;
    margin-bottom: 25px;
    margin-top: 15px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 110%;
}

#intro p {
	padding:15px 0;
	color:#fff;
}

#about {
	background:#fff;
}

#team {
	background:#000;
	background:rgba(0,0,0,0.8);
}
#testimonials {
	background:#fff;
}
#safe {
	background:#eee;
}
#contact {
	background:#202020;
}


.flat-btn {
    background-color: #1c1c1c;
    opacity: 0.75;
    border: none;
    color:#ffffff;
    padding: 10px 15px 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 18px;
    display: inline-block;
}

.flat-btn:hover {
    opacity: 0.9;
    text-decoration: none;
    color: white;
}


/* Navbar Styles  */

.navbar-inner {
	border-bottom:0 none;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	filter:none;
    background: transparent;
    background-color: none;
}

.navbar-inner > .container {
    padding-top:10px;
}

.navbar-static-top .navbar-inner {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow:none;
}

.navbar .nav > li > a {
	color:#fff;
	font-size:15px;
	font-weight:300;
	text-shadow:none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

.navbar .nav > li > a.login {
    padding-right: 0px;
}

.navbar .nav > li > a.scroller {
    padding-top:20px;
    padding-bottom: 2px;
}

.navbar .nav > li > a > button {
    margin-top: 0px;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
    text-decoration: underline;
    color: white;
}

.thumbnail {
	text-align:center;
	border:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}

@media (max-width: 1200px) {

    #intro .video {
        width: 490px;
        height: 275px;
    }

    #intro .video iframe {
        width: 490px;
        height: 275px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    #intro .video {
        width: 400px;
        height: 224px;

    }

    #intro .video iframe {
        width: 400px;
        height: 224px;
    }

    body {
        padding-left: 0px;
        padding-right: 0px;
	}

    #intro h2 {
        font-size: 20px;
    }

    #intro .info {
        width: 290px;

    }
}

@media (max-width: 767px) {

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container {
        margin-right: 10px;
        margin-left: 10px;
    }

    .navbar .nav > li > a.scroller {
        display: none;
    }

    #intro {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    #intro .info {
        width:300px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        margin-bottom: 30px;
    }

    #intro h2 {
        font-size: 20px;
    }

    #intro .brand {
        margin-left:auto;
        margin-right:auto;
    }

    #intro .video {
        float: none;
        margin-left:auto;
        margin-right:auto;
        width: 280px;
        height: 158px;
    }

    #intro .video iframe {
        width: 280px;
        height: 155px;
    }

    #intro iframe {
        width:280px;
        height: 158px;
    }
}

@media (max-width: 480px) {
}

.carousel-caption { position: relative; }

.space-bottom {
    margin-bottom: 30px; /* define margin as you see fit */
}