.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.index {
  background-color: white;
}
body.index #footer {
  margin-top: -10px;
}
#index ul.points {
  margin: 0px;
  list-style: none;
}
#index ul.points li {
  margin-bottom: 20px;
  padding-left: 55px;
  position: relative;
}
#index ul.points li > i {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 32px;
  text-align: right;
}
#index ul.points li > h6 {
  font-size: 15px;
  margin-bottom: 3px;
}
#index ul.points li > span {
  font-size: 15px;
  font-weight: 400;
}
#index ul.points li.action {
  padding: 10px 0 0px 55px;
}
#index .section {
  background: #fff;
  font-weight: normal;
  position: relative;
  border-bottom: 1px dotted #DBDBDB;
}
#index .section h2 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 0px;
  font-size: 26px;
  line-height: 30px;
}
#index .section .content {
  padding: 30px 0;
  width: 410px;
  z-index: 100;
}
#index .section .image {
  width: 650px;
  height: 450px;
  top: 50%;
  margin-top: -225px;
}
#index .section.left .image {
  position: absolute;
  left: 420px;
  width: 650px;
  height: 450px;
}
#index .section.right {
  height: 450px;
}
#index .section.right .content {
  position: absolute;
  right: 0px;
}
#index .section.right .image {
  position: absolute;
  right: 420px;
  width: 650px;
  height: 450px;
}
@media (max-width: 767px) {
  #index .section .image {
    display: none;
  }
  #index .section .content {
    padding: 10px 0;
    width: 100%;
  }
  #index .section.right {
    height: auto;
  }
  #index .section.right .content {
    position: relative;
  }
}
#index .jumbotron {
  background-color: #1c8fc2;
  background-image: -moz-linear-gradient(top, #1981ae, #20a5e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1981ae), to(#20a5e0));
  background-image: -webkit-linear-gradient(top, #1981ae, #20a5e0);
  background-image: -o-linear-gradient(top, #1981ae, #20a5e0);
  background-image: linear-gradient(to bottom, #1981ae, #20a5e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1981ae', endColorstr='#ff20a5e0', GradientType=0);
  padding: 35px 0;
  margin-top: -10px;
}
@media (max-width: 767px) {
  #index .jumbotron {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
  }
}
#index #index-intro .flat-btn {
  background-color: #094a64;
  opacity: 0.75;
  border: none;
  color: #ffffff;
  padding: 11px 19px 11px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 18px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#index #index-intro .flat-btn:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}
#index #index-intro .info {
  width: 410px;
}
#index #index-intro .info .actions .flat-btn {
  margin-right: 15px;
}
#index #index-intro .video {
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #094a64;
  -moz-box-shadow: 0 0 5px #094a64;
  box-shadow: 0 0 5px #094a64;
}
#index #index-intro .video iframe {
  background-color: #333;
}
#index #index-intro h2 {
  color: #fff;
  margin-top: 15px;
  font-weight: 400;
  text-shadow: 0 0 5px #094a64;
  line-height: 110%;
  margin-bottom: 0px;
}
#index #index-intro p {
  padding: 13px 0;
  line-height: 22px;
  color: #fff;
  text-shadow: 0 0 5px #094a64;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 979px) {
  #index #index-intro .video {
    width: 400px;
    height: 224px;
  }
  #index #index-intro .video iframe {
    width: 400px;
    height: 224px;
  }
  #index #index-intro h2 {
    font-size: 25px;
  }
  #index #index-intro .info {
    width: 290px;
  }
}
@media (max-width: 767px) {
  #index #index-intro .info {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  #index #index-intro h2 {
    text-align: center;
    width: 300px;
    display: block;
  }
  #index #index-intro .video {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 158px;
  }
  #index #index-intro .video iframe {
    width: 280px;
    height: 158px;
  }
}
#index #index-proof {
  background-color: #F7F5F2;
  border-bottom: 1px dotted #DBDBDB;
  text-align: center;
  overflow: hidden;
  height: 55px;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
#index #index-proof img {
  margin-right: 22px;
  padding-top: 4px;
}
@media (max-width: 767px) {
  #index #index-proof {
    height: 3px;
    border: none;
    background-color: transparent;
    margin-left: -20px;
    margin-right: -20px;
  }
}
#index #index-secure .image {
  right: 490px;
}
@media (max-width: 979px) {
  #index #index-secure .image {
    right: 425px;
  }
}
#index #index-testimonial {
  border-bottom: none;
}
#index #index-testimonial .image {
  bottom: 0px;
  left: 470px;
  top: auto;
}
#index #index-testimonial .content-testimonial img {
  margin: 0 auto 10px auto;
  display: block;
  width: 200px;
  height: 200px;
}
#index #index-testimonial .content-testimonial blockquote {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
#index #index-testimonial .content-testimonial blockquote small {
  padding-top: 5px;
}
#index #index-testimonial .carousel-control {
  line-height: 27px;
  top: 90px;
}
@media (max-width: 979px) {
  #index #index-testimonial .image {
    left: 385px;
  }
}
#about .profile {
  margin-bottom: 10px;
}
#about .person {
  position: relative;
  overflow: auto;
  margin-bottom: 20px;
}
#about .person .name {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  margin-bottom: 3px;
}
#about .person .description {
  margin-top: 5px;
}
#about .person a.contact {
  color: #aaa;
  text-shadow: 0 1px 1px #ffffff;
  display: block;
  margin-top: 5px;
}
#about .vcard .org {
  margin-bottom: 0px;
}
#about .vcard {
  margin-top: 15px;
}
