<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/img/kinderloop.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Childcare, Care Provider, Learning Journey, Parent communication, EYLF, EYLS, NAYCE, Reporting" />
	<meta name="keywords" content="Childcare, Care Provider, Parent communication, Learning Journey, EYLF, EYLS, NAYCE, Reporting, Educator, Preschool, Nursery, Nanny, Kinderloop" />

    <script type="text/javascript">

        var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

        Keen.configure({
            projectId: "521efc862975164596000000",
            writeKey: "688182b8e02a159fe17ae932c3cb6cbf55459f9bcbfb37c93dd8e65efafe68e9873025b9e0c32266fdb5a06343ae0935777bdf8e281b52d1196592c849e2ebfda85ed81f1c2b4f404af19bcd806ef71eb7058fadc89f035c5a465b5f59993a4a3d004949c4b2b7fae7b20ed8bbcbd822", // required for sending events
            readKey: "4625c0380e7ca1c818914a489466bcb9bb0113ada27330c0a6161e736eb6675c8573fa69a9040ad080d916b73e3b33acdd54bda91d8d3a359007f7a17c545e2a2108ce0a4d345926b529fc286855531c88f59ca01329dcdec72f98b2d41995cdf6e0d6290a2acce16c1c0415470ee449"    // required for doing analysis
        });


    </script>

    <script data-main="assets/js/metrics" src="assets/js/require.js"></script>

    <script type="text/javascript">
        require(['metrics'], function (metrics) {
            metrics.init("kinderloop.com");
            metrics.recordPageView();
        });
    </script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link href="assets/ext/bootstrap-2.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="assets/ext/bootstrap-2.3.1/css/responsive.css" rel="stylesheet">
    <script src="assets/ext/bootstrap-2.3.1/js/bootstrap.js"></script>
    <link href="assets/ext/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/kinderloop.css" rel="stylesheet">
    <link href="assets/css/site.css" rel="stylesheet">

    <!--[if lt ie 9]>
        <script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if ie 7]>
        <link rel="stylesheet" href="${createLinkTo(dir: '/ext/font-awesome-3.0/css', file: 'font-awesome-ie7.min.css')}">
    <![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35078138-1']);
        _gaq.push(['_setDomainName', 'kinderloop.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script src="//cdn.optimizely.com/js/287741439.js"></script>

    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1232264739]);
        (function() {
            function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
            if (window.attachEvent){
                window.attachEvent('onload', __ldinsp);
            }else{
                window.addEventListener('load', __ldinsp, false);
            }
        })();
    </script>
    <!-- End Inspectlet Embed Code -->

</head>
<body class="{{ page.class }}">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index.html"></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li {% if page.url == '/faq.html' %} class="active" {% endif %}><a href="faq.html">FAQ</a></li>
					<li {% if page.url == '/pricing.html' %} class="active" {% endif %}><a href="pricing.html">Pricing</a></li>
										<li {% if page.url == '/privacy.html' %} class="active" {% endif %}><a href="privacy.html">Privacy</a></li>
										<li {% if page.url == '/superloopers.html' %} class="active" {% endif %}><a href="superloopers.html">Ambassadors</a></li>

                    <li><a href="http://app.kinderloop.com">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{ content }}

<!-- footer -->
<div id="footer" class="footer">
    <div class="container">
        <div class="row-fluid">
            <ul>
                <li>Kinderloop Inc &copy;2013</li>
				<li><a href="help.html">Help</a></li>
				<li><a href="faq.html">FAQ</a></li>
				<li><a target="_blank" href="http://blog.kinderloop.com">Kinderloop News</a></li>
				<li><a href="about.html">About</a></li>
                <li><a target="_blank"
				 href="http://www.facebook.com/kinderloop">Friends</a></li>
                <li><a target="_blank" href="http://www.twitter.com/kinderloop">Twitter</a></li>
				<li style="
				   float: right;
				"><a target="_blank" href="https://itunes.apple.com/app/kinderloop/id590562323?mt=8"><img
				src="assets/img/applestore_button.png"></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end footer -->


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35078138-1']);
    _gaq.push(['_setDomainName', 'kinderloop.com']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>